<div class="row text-center">
  <div class="col-md-4">
    <button mat-raised-button color="primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
      Previous
    </button>
    &nbsp;
    <button mat-raised-button mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
      Today
    </button>
    &nbsp;
    <button mat-raised-button color="primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
      Next
    </button>
  </div>
  <div class="col-md-4">
    <h5 style="padding-top: 2%">{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h5>
  </div>
</div>
<br>
<app-single-view-week [boardId]="boardId" [viewDate]="viewDate" [refresh]="refresh" [usePriorityColors]="true" [primaryColor]="null" [secondaryColor]="null"></app-single-view-week>
