<h3 *ngIf="team"> Team {{ team.Name }} </h3>
<h6 *ngIf="team" style="font-weight: 400;"> admin: {{ team.Admin }} </h6>
<br>
<mat-divider></mat-divider>
<br>
<h5>Team members</h5>
<div class="row mx-2 row-cols-3">
  <mat-card *ngFor="let member of members" class="col my-2 mr-2 ml-2">
    <mat-card-content>
      <mat-icon>person</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{ member.Username }}
      <br>
      <mat-icon>email</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{ member.Email }}
    </mat-card-content>
  </mat-card>
</div>
<br>
<h5>Projects</h5>
<div class="row mx-2 row-cols-2">
  <mat-card *ngFor="let board of boards" class="col-2 my-2 mr-2 ml-2" style="vertical-align: bottom">
    <mat-card-content>
      {{ board.Name }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button class="float-right" (click)="goToBoard(board.Id)">
        <mat-icon class="visit-button">more_horiz</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<br>
<h5>Tasks</h5>
<div class="row mx-2">
  <mat-card class="col my-2 mr-2 ml-2">
    <app-tickets-datatable [user]="null" [team]="teamId" [favorites]="null"></app-tickets-datatable>
  </mat-card>
</div>
