<mat-card>
  <mat-card-content>
    <h6>Comments</h6>
    <form [formGroup]="commentForm">
      <textarea matInput class="area" formControlName="text" placeholder=" Add comment"
                (click)="commentClicked = true" [ngClass]="{ areaClicked: commentClicked == true, areaNotClicked: commentClicked == false }"
                cdkTextareaAutosize="true" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="10">
      </textarea>
      <button mat-raised-button color="primary" [disabled]="!commentForm.valid" (click)="save(commentForm)">Save</button>
    </form>
    <br>
    <div *ngFor="let comment of comments">
      <app-comment [comment]="comment" (commentUpdated)="loadComments()"></app-comment>
      <br>
    </div>
  </mat-card-content>
</mat-card>
