mat-card {
  max-width: 900px;
  display: block;
}

.row {
  justify-content: center;
}

input {
  padding-right: 5px !important;
  text-align: left;
}

.areaClicked {
  border-radius: 5px;
  border: 2px solid #3F51B5;
}

.areaNotClicked {
  border-radius: 5px;
  border: 2px solid grey;
}

.form {
  align-content: center;
}

button {
  margin-top: 10px;
}
