<div class="row">
  <div class="col-3">
    <mat-card>
      <mat-card-content>
        <mat-list>
          <mat-list-item (click)="show(1)" [ngClass]="{ indigo: clicked == 'account' }">
            <mat-icon>person</mat-icon>&nbsp;&nbsp;Account
          </mat-list-item>
          <mat-list-item (click)="show(2)" [ngClass]="{ indigo: clicked == 'notifications' }">
            <mat-icon>notifications</mat-icon>&nbsp;&nbsp;Notifications
          </mat-list-item>
          <mat-list-item (click)="show(3)" [ngClass]="{ indigo: clicked == 'boards' }">
            <mat-icon>dashboard</mat-icon>&nbsp;&nbsp;Boards
          </mat-list-item>
          <mat-list-item (click)="show(4)" [ngClass]="{ indigo: clicked == 'labels' }">
            <mat-icon>label</mat-icon>&nbsp;&nbsp;Labels
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-divider vertical></mat-divider>
  <div class="col">
    <app-settings-account *ngIf="showAccount"></app-settings-account>
    <app-settings-notifications *ngIf="showNotifications"></app-settings-notifications>
    <app-settings-labels *ngIf="showLabels"></app-settings-labels>
    <app-settings-boards *ngIf="showBoards"></app-settings-boards>
  </div>
</div>
