<h2 mat-dialog-title style="text-align: right;">Add New Team</h2>
<mat-dialog-content class="mat-typography">
  <ng-form [formGroup]="teamForm">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Admin" formControlName="admin">
<!--      <mat-select placeholder="Choose admin" formControlName="admin" disableOptionCentering>-->
<!--        <mat-option *ngFor="let user of users" [value]="user">-->
<!--          {{ user.Username }}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Select team members" formControlName="members" disableOptionCentering panelClass="select-option-team" multiple>
        <mat-option *ngFor="let user of users" [value]="user">
          {{ user.Username }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" type="submit" [disabled]="!teamForm.valid" (click)="save(teamForm)">Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
