<mat-card class="board-card">
  <mat-card-header class="dashboard-card-header">
    {{ board.Name }}
  </mat-card-header>
  <mat-card-content>
    {{ numberOfTickets }}
    <br>
    statistike
  </mat-card-content>
  <mat-card-actions class="board-card-actions">
    <button mat-icon-button (click)="goToBoard(board.Id)">
      <mat-icon color="primary">more_horiz</mat-icon>
    </button>
    <button mat-icon-button *ngIf="isAdmin" (click)="onBoardDelete(board.Id, board.Name)">
      <mat-icon color="warn">delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
