<div>
  <div>
    <h1>Boards</h1>
    <div class="row">
      <div class="col-2 board-card-column" *ngFor="let board of boards">
        <mat-card class="board-card">
          <mat-card-header class="board-card-header">
            {{ board.Name }}
          </mat-card-header>
          <mat-card-content class="board-card-content">
            broj tiketa
            <br>
            statistike
          </mat-card-content>
          <mat-card-actions class="board-card-actions">
            <button mat-icon-button>
              <mat-icon>search</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div>
    <h1>Teams</h1>
    <div class="col" *ngFor="let team of teams">
      <mat-card>
        <mat-card-header>
          {{ team.Name }}
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
