<div>
  <div>
    <h1 class="header">
      Boards&nbsp;
      <button id="add-board" class="add-button-header" mat-button (click)="openBoardDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </h1>
    <div class="row">
      <div class="col-2 board-card-column" *ngFor="let board of boards">
        <mat-card class="board-card">
          <mat-card-header class="board-card-header">
            {{ board.Name }}
          </mat-card-header>
          <mat-card-content class="board-card-content">
            broj tiketa
            <br>
            statistike
          </mat-card-content>
          <mat-card-actions class="board-card-actions">
            <button mat-icon-button>
              <mat-icon>search</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div>
    <span>
      <h1 class="header">
        Teams&nbsp;
        <button id="add-team" class="add-button-header" mat-button (click)="openTeamDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </h1>
    </span>
    <div class="col team-card-column" *ngFor="let team of teams">
      <mat-card class="team-card">
        <mat-card-header>
          {{ team.Name }} - {{ team.Admin }} | {{ team.Id }}
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
