<mat-card class="board-card mat-elevation-z4">
  <mat-card-header class="dashboard-card-header">
    {{ board.Name }}
  </mat-card-header>
  <mat-card-content>
    <span *ngIf="progressExists">Completed <b>{{ percentage }}%</b></span>
    <mat-progress-bar [value]="percentage" *ngIf="progressExists"></mat-progress-bar>
    <span *ngIf="!progressExists && columnsExist">Please choose which column represents done column.</span>
    <span *ngIf="!columnsExist && !progressExists">Please create columns in Settings.</span>
    <br *ngIf="columnsExist">
    <span *ngIf="columnsExist">Tickets: <b>{{ numberOfTickets }}</b></span>
  </mat-card-content>
  <mat-card-actions class="board-card-actions">
    <span style="font-size: 14px; padding-right: 10px;"><b>{{ team }}</b></span>
    <br>
    <button mat-icon-button style="float: left !important;" (click)="goToViewWeek(board.Id)" matTooltip="View week">
      <mat-icon color="primary">view_week</mat-icon>
    </button>
    <button mat-icon-button style="float: left !important;" *ngIf="numberOfTickets != 0" (click)="goToStats(board.Id)" matTooltip="Statistics">
      <mat-icon color="primary">analytics</mat-icon>
    </button>
    <button mat-icon-button *ngIf="isAdmin" (click)="onBoardDelete(board.Id, board.Name)" matTooltip="Delete">
      <mat-icon color="warn">delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
