.ticket-list {
  /*border: solid 1px #ccc;*/
  min-height: 100px;
  background: #EEEEEE;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  align-items: center;
}

.ticket-box {
  padding: 10px 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  /*flex-direction: row;*/
  /*align-items: center;*/
  /*justify-content: space-between;*/
  /*box-sizing: border-box;*/
  cursor: move;
  background: #F5F5F5;
  font-size: 14px;
  border: solid 1px #ccc;
  border-radius: 4px;
  margin: 8px 2px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.ticket-list.cdk-drop-list-dragging .ticket-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column-name {
  font-weight: 600;
  text-align: center;
  font-size: 18px;
}

.story-points {
  font-size: 13px;
}

