<div style="text-align: center">
  <mat-label class="column-name">{{ columnName }}</mat-label>
  <br>
  <mat-label class="story-points"> Story points: {{ points }}</mat-label>
  <br>
  <div cdkDropList [cdkDropListData]="tickets" (cdkDropListDropped)="drop($event)" (cdkDropListExited)="drag($event)" id="{{containerId}}" class="ticket-list">
    <div *ngFor="let ticket of tickets;" [cdkDragData]="ticket" cdkDrag [id]="ticket.ColumnId" class="ticket-box">
      <br>
      <app-board-ticket [ticketId]="ticket.Id"></app-board-ticket>
      <br>
    </div>
  </div>
  <br>
  <br>
</div>
