mat-card {
  max-width: 100%;
  display: block;
  background: #fafafa;
}

.row {
  justify-content: center;
}

textarea:hover, span:hover {
  cursor: default;
}

.display-block {
  display: block !important;
}

.round .img-comment {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  float: left !important;
}

.mat-icon{
  height: 20px !important;
  width: 20px !important;
  font-size: 20px !important;
}

.card-actions {
  text-align: right;
}

mat-card-content {
  margin-bottom: 0 !important;
}

.area {
  border-radius: 5px;
  border: 2px solid #3F51B5;
}
