<mat-card *ngIf="comment" class="mat-elevation-z4">
  <mat-card-header *ngIf="user" style="display: block !important;">
    <span style="float: left !important;">{{ user.FirstName }} {{ user.LastName }} | {{ user.Username }}</span>
    <span style="float: right !important;">{{ comment.CommentedAt | date: 'short' }}</span>
  </mat-card-header>
  <br>
  <mat-card-content style="display: block !important;">
    <textarea matInput [mat-autosize]="true" style="overflow: hidden;" readonly>
    {{ comment.Text }}
    </textarea>
  </mat-card-content>
</mat-card>
