<h2 mat-dialog-title style="text-align: right;">Add New Board</h2>
<mat-dialog-content class="mat-typography">
  <ng-form [formGroup]="boardForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-error *ngIf="boardForm.get('name').errors && boardForm.get('name').errors.nameInvalid">
      Name can't be empty.
    </mat-error>

    <mat-form-field appearance="outline">
      <mat-label>Admin</mat-label>
      <mat-select placeholder="Choose admin" formControlName="admin" disableOptionCentering>
        <mat-option *ngFor="let user of users" [value]="user.Username">
          {{ user.Username }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="teams" appearance="outline">
      <mat-label>Team</mat-label>
      <mat-select placeholder="Select Team" formControlName="team" disableOptionCentering panelClass="select-option-team">
        <mat-option *ngFor="let team of teams" [value]="team">
          {{ team.Name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" [mat-dialog-close]="true" type="submit" [disabled]="!boardForm.valid" (click)="save(boardForm)">Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
