.title-label {
  font-weight: 500;
}

.value-label {
  display: block;
  text-align: right;
  font-style: italic;
}

h6 {
  padding-top: 10px;
}

mat-card {
  max-width: 900px;
  display: block;
}

.row {
  justify-content: center;
}

.mat-small-chip {
  min-height: 25px !important;
  padding: 4px 9px !important;
  height: 0.8em !important;
}

mat-divider {
  margin-top: 8px;
}

mat-select {
  text-align: right;
  font-style: italic;
}

:host /deep/ .mat-select-value-text {
  padding-right: 5px !important;
}

mat-option {
  font-style: italic;
}
