<div class="row">
    <mat-card class="col-10">
      <mat-card-content *ngIf="ticket">
        <div class="row">
          <div class="col">
            <h4> {{ ticket.Title }} </h4>
            <mat-divider></mat-divider>
            <h6>Description</h6>
            <mat-label>
              {{ ticket.Description }}
            </mat-label>
          </div>
          <mat-divider vertical></mat-divider>
          <div class="col-3">
            <mat-label class="title-label">Status</mat-label>
            <br>
            <mat-label class="value-label">{{ ticket.Status }}</mat-label>

            <mat-label class="title-label">Story Points</mat-label>
            <br>
            <mat-label class="value-label">{{ ticket.StoryPoints }}</mat-label>

            <mat-label class="title-label" *ngIf="assignedTo">Assigned to</mat-label>
            <br>
            <mat-label *ngIf="assignedTo" class="value-label">{{ assignedTo }}</mat-label>

            <mat-label class="title-label">Start Date</mat-label>
            <br>
            <mat-label class="value-label">{{ ticket.StartDate | date: 'short' }}</mat-label>

            <mat-label class="title-label">End Date</mat-label>
            <br>
            <mat-label class="value-label">{{ ticket.EndDate | date: 'short' }}</mat-label>

            <mat-label class="title-label">Reporter</mat-label>
            <br>
            <mat-label class="value-label">{{ ticket.Creator }}</mat-label>

            <mat-label class="title-label">Created at</mat-label>
            <br>
            <mat-label class="value-label">{{ ticket.DateCreated | date: 'short' }}</mat-label>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
</div>
