<div>
  <h5>Boards settings</h5>
  <div *ngIf="board">
    <mat-card>
      <mat-card-content>
        <h6>Board</h6>
        <form [formGroup]="boardForm">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" value="{{ board.Name }}">
          </mat-form-field>
          <mat-error *ngIf="boardForm.get('name').errors && boardForm.get('name').errors.maxlength">
            Board name is too long.
          </mat-error>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Admin</mat-label>
            <mat-select [(value)]="board.Admin" formControlName="admin">
              <mat-option *ngFor="let user of users" [value]="user.Username">
                {{ user.Username }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Team</mat-label>
            <mat-select [(value)]="board.TeamId" formControlName="team">
              <mat-option [value]="null"></mat-option>
              <mat-option *ngFor="let team of teams" [value]="team.Id">
                {{ team.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>

        <mat-divider style="width: 96%; margin-left: 2%;"></mat-divider>
        <br>

        <h6>Columns</h6>
        <button mat-raised-button color="primary" (click)="showAddColumn = true">
          Add column
        </button>
        &nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="openRemoveDialog()">
          Remove all
        </button>
        <br>
        <br>

        <div *ngIf="showAddColumn">
          <form [formGroup]="columnForm">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="columnName">
            </mat-form-field>
            &nbsp;
            <button mat-icon-button class="column-button" [disabled]="!columnForm.valid" (click)="addColumn(columnForm)">
              <mat-icon>check</mat-icon>
            </button>
            &nbsp;
            <button mat-icon-button class="column-button" (click)="closeAddColumn()">
              <mat-icon>close</mat-icon>
            </button>
          </form>
          <mat-error *ngIf="columnForm.get('columnName').errors && columnForm.get('columnName').errors.maxlength">
            &nbsp;Column name is too long.
          </mat-error>
          <br>
        </div>

        <div *ngIf="columns.length > 0"
             class="column-list"
             cdkDropList
             [cdkDropListData]="columns"
             (cdkDropListDropped)="drop($event)">
          <div *ngFor="let column of columns; let i = index;" cdkDrag class="column-box" >
            <span> &nbsp;
              <span class="column-order"> {{ i + 1 }}. </span> &nbsp; {{ column.Name }}
            </span>
            <button mat-icon-button style="float: right;" (click)="removeColumn(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="columns.length == 0">
          <p>There are no defined columns for this board.</p>
        </div>
        <br>

        <mat-divider style="width: 96%; margin-left: 2%;"></mat-divider>
        <br>

        <button mat-raised-button color="primary" style="float: right;" [disabled]="!columnForm.valid || !boardForm.valid" (click)="save(boardForm)">
          Save
        </button>
        <button mat-button style="float: right; margin-right: 10px;" (click)="goBack()">
          Cancel
        </button>
        <br>
        <br>
      </mat-card-content>
    </mat-card>
  </div>
</div>
