<div class="row">
  <mat-card class="col mr-2">
    <div class="bar-chart-card">
      <canvas baseChart
        [datasets]="ticketsPerColumnData"
        [labels]="ticketsPerColumnLabels"
        [options]="chartOptions"
        [legend]="chartLegend"
        [chartType]="chartType">
      </canvas>
    </div>
  </mat-card>
  <mat-card class="col">
    <div class="bar-chart-card">
      <canvas baseChart
        [datasets]="ticketsPerLabelData"
        [labels]="ticketsPerLabelLabels"
        [options]="chartOptions"
        [legend]="chartLegend"
        [chartType]="chartType">
      </canvas>
    </div>
  </mat-card>
</div>
<br>
<div class="row">
  <mat-card class="col">
    <div class="bar-chart-card">
      <canvas baseChart [datasets]="[{ data: data, label: 'My data' }]" [options]="chartOption" chartType="line"> </canvas>
    </div>
  </mat-card>
</div>
