<div>
  <div>
    <h1 class="header">
      Boards&nbsp;
      <button id="add-board" class="add-button-header" mat-button (click)="openBoardDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </h1>
    <div class="row row-cols-2">
      <div class="col-2 board-card-column my-3 mr-3 ml-3" *ngFor="let board of boards">
        <app-board-card [board]="board" [isAdmin]="isAdmin" (boardDelete)="onBoardDelete($event)" (click)="goToBoard(board.Id)"></app-board-card>
      </div>
    </div>
  </div>
  <br>
  <mat-divider style="font-weight: bold"></mat-divider>
  <br>
  <div>
    <span>
      <h1 class="header">
        Teams&nbsp;
        <button id="add-team" class="add-button-header" mat-button (click)="openTeamDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </h1>
    </span>
    <div class="row row-cols-2">
      <div class="col-2 team-card-column my-3 mr-3 ml-3" *ngFor="let team of teams">
        <app-team-card [team]="team" [isAdmin]="isAdmin" (teamDelete)="onTeamDelete($event)" (click)="goToTeam(team.Id)"></app-team-card>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
