.board-card-column {
  margin-top: 20px;
}

.team-card-column {
  margin-top: 20px;
}

.header {
  display: inline-block;
}

.add-button-header {
  float: right;
  margin-top: 4px;
  height: 40px;
  border-radius: 20px;
}
