::ng-deep .snack-bar {
  background-color: #3F51B5 !important;
  color: white !important;
}

::ng-deep .mat-simple-snackbar-action {
  color: white;
}

html, body {
  position: absolute;
  width: 95.70%;
}

::ng-deep button:focus, button:active:focus, button.active:focus {
  outline: #3F51B5;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #3F51B5 !important;
}

/*::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {*/
/*  color: #3F51B5 !important;*/
/*}*/
