<h2 mat-dialog-title style="text-align: right;">Add New Team</h2>
<mat-dialog-content class="mat-typography">
  <ng-form [formGroup]="teamForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-error *ngIf="teamForm.get('name').errors && teamForm.get('name').errors.nameInvalid">
      Name can't be empty.
    </mat-error>

    <mat-form-field appearance="outline">
      <mat-label>Admin</mat-label>
      <mat-select placeholder="Choose admin" formControlName="admin">
        <mat-option *ngFor="let user of users" [value]="user.Username">
          {{ user.Username }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Members</mat-label>
      <mat-select placeholder="Select team members" formControlName="members" multiple [(ngModel)]="selected">
        <mat-option *ngFor="let user of users" [value]="user.Id">
          {{ user.Username }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" [mat-dialog-close]="true" type="submit" [disabled]="!teamForm.valid" (click)="save(teamForm)">Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
