<mat-card *ngIf="user">
  <mat-card-content>
    <div class="row">
      <div class="col-3">
        <span class="round"><img class="img-profile" mat-card-image src="{{ this.image }}"></span>
        <div>
          <button mat-raised-button color="primary" (click)="openFileUpload()">
            Upload
          </button>
        </div>
        <input type="file" (change)="upload($event.target)" accept="image/x-png,image/gif,image/jpeg" style="display: none">
      </div>
      <mat-divider vertical></mat-divider>
      <div class="col">
        <h4>
          <mat-icon>person</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{ user.FirstName }} {{ user.LastName }}
        </h4>
        <h5>
          <mat-icon>alternate_email</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{ user.Username }}
        </h5>
        <h5>
          <mat-icon>email</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{ user.Email }}
        </h5>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br>
<h5>Teams</h5>
<div class="row mx-2">
  <mat-card *ngFor="let team of teams" class="col my-2 mr-2 ml-2">
    <mat-card-content>
      {{ team.Name }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button class="float-right" (click)="goToTeam(team.Id)">
        <mat-icon class="visit-button">search</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<br>
<h5>Favorites</h5>
<div class="row mx-2">
  <mat-card class="col my-2 mr-2 ml-2">
    <app-tickets-datatable [user]="null" [team]="null" [favorites]="userId"></app-tickets-datatable>
  </mat-card>
</div>
<br>
<h5>Tickets</h5>
<div class="row mx-2">
  <mat-card class="col my-2 mr-2 ml-2">
    <app-tickets-datatable [user]="userId" [team]="null" [favorites]="null"></app-tickets-datatable>
  </mat-card>
</div>
