<mat-icon *ngIf="priority == priorities.Highest" style="color: darkred;" matTooltip="Highest">arrow_upward</mat-icon>
<mat-icon *ngIf="priority == priorities.High" style="color: orangered;" matTooltip="High">expand_less</mat-icon>
<mat-icon *ngIf="priority == priorities.Medium" style="color: orange;" matTooltip="Medium">horizontal_rule</mat-icon>
<mat-icon *ngIf="priority == priorities.Low" style="color: dodgerblue;" matTooltip="Low">expand_more</mat-icon>
<mat-icon *ngIf="priority == priorities.Lowest" style="color: skyblue;" matTooltip="Lowest">arrow_downward</mat-icon>
